name: pmv-docs-dev
services:
  postgres:
    image: postgis/postgis:16-3.4-alpine
    container_name: pmv-postgres
    ports:
      - 5439:5432
    volumes:
      - ./pmv-db:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
  adminer:
    image: adminer:latest
    container_name: pmv-adminer
    restart: always
    ports:
      - ${ADMINER_PORT}:8080
  maildev:
    container_name: pmv-maildev
    build:
      context: .
      dockerfile: maildev.Dockerfile
    ports:
      - ${MAIL_CLIENT_PORT}:1080
      - ${MAIL_PORT}:1025
volumes:
  pmv-db:
